@use "variables";

.form-label {
  color: variables.$dim-grey;
  font-weight: 500;
  font-size: 14px;
}

.btn-outline {
  border: 1px solid variables.$dim-grey;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: variables.$dim-grey;
  height: 40px;
}

.btn-themed {
  background-color: variables.$green;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: variables.$white;
  height: 40px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
}
