.form-label {
  color: #545f7d;
  font-weight: 500;
  font-size: 14px;
}

.btn-outline {
  border: 1px solid #545f7d;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #545f7d;
  height: 40px;
}

.btn-themed {
  background-color: #39cdcc;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  height: 40px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
}
