@use "variables";

.form-label {
  color: variables.$dim-grey;
  font-weight: 500;
  font-size: 14px;
}

.btn-outline {
  border: 1px solid variables.$dim-grey;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: variables.$dim-grey;
  height: 40px;
  border: none;
}

.btn-themed {
  background-color: variables.$green;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: variables.$white;
  height: 40px;
  border: none;
}

.btn-themed:hover {
  background-color: variables.$green2;
}

.btn-outline:hover {
  background-color: variables.$light-grey;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
}

.dropdown .form-control:focus,
.dropdown .form-select:focus {
  color: variables.$dim-grey;
  background-color: variables.$white;
  border-color: #9fe7e6;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(57, 205, 204, 0.25);
}

.dropdown-toggle::after {
  display: none;
}

.form-dropdown {
  width: 270px !important;
  top: 25rem;
  left: calc(60px + 0.95rem);
}
