.loginBody {
  font-family: "Avenir Next", sans-serif;
}

.logoImage {
  top: 108px;
  left: 97px;
}

.unionImage {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.lendsqrImage {
  width: 138px;
  height: 36px;
}

.welcomeimage {
  width: 100%;
  height: 100%;
}
