@use "variables";

.welcomeText {
  font-size: 40px;
  font-weight: 700;
  color: variables.$dark-blue;
}

.welcomeText2 {
  font-size: 20px;
  font-weight: 300;
  color: variables.$dim-grey;
  margin-bottom: 60px;
}

.minWidth {
  width: 447px;
}

.border-right-0 {
  border-right: 0px;
}

.border-left-0 {
  border-left: 0px;
}

.showText {
  color: variables.$green !important;
  font-size: 12px;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight: 600;
}

.form-control,
.input-group-text {
  border-color: rgba(84, 95, 125, 0.15);
  padding: 16px;
  font-size: 14px;
  color: variables.$dim-grey;
  border-width: 2px;
}

.input-group {
  border: 2px solid rgba(84, 95, 125, 0.15);
}

.form-control::placeholder {
  color: variables.$dim-grey;
  font-size: 14px;
  opacity: 0.6;
}

.form-control:focus,
.input-group:focus-within {
  border-color: variables.$green !important;
  box-shadow: none;
}

.submitButton {
  background-color: variables.$green;
  height: 48px;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.1em;
}

.forgotPassword {
  color: variables.$green;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight: 500;
}
