@use "variables";

.text16 {
  font-size: 16px;
  color: variables.$dim-grey;
}

.outline-btn {
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}

.red-outline {
  border: 1px solid variables.$red;
  color: variables.$red;
}

.green-outline {
  border: 1px solid variables.$green;
  color: variables.$green;
}

.profileName {
  font-size: 22px;
  font-weight: 500;
  color: variables.$dark-blue;
}

.profileBvn {
  font-size: 14px;
  color: variables.$dim-grey;
}

// for screens smaller than 1500px
@media (max-width: 1350px) {
  .grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }

  .content {
    padding: 30px;
  }
}

// for screens smaller than 1200px
@media (max-width: 1200px) {
  .grid-5 {
    grid-template-columns: 1fr 1fr !important;
  }

  .profile-card .d-lge-block,
  .centralize-lge {
    display: grid !important;
    justify-content: center !important;
    place-items: center;
  }

  .verticalLine {
    display: none;
  }

  .profileImageContainer {
    margin-right: 0 !important;
  }

  .tierText {
    margin-bottom: 0 !important;
  }

  .navMenu {
    margin-top: 15px;
    padding-bottom: 0;
  }
}

// for screens smaller than 992px
@media (max-width: 992px) {
  .grid-5 {
    grid-template-columns: 1fr !important;
  }
  .information-card .grid-4 {
    grid-template-columns: 1fr !important;
  }
  .usersBody .d-mde-block {
    display: block !important;
    grid-gap: 15px;
  }

  .headerText {
    margin-bottom: 15px;
  }
}

// for screens smaller than 500px
@media (max-width: 500px) {
  .d-xsl-block {
    display: block !important;
    justify-content: center !important;
    place-items: center;
    grid-gap: 10px;
  }

  .outline-btn {
    margin: 0 !important;
    width: 100% !important;
    margin-top: 15px !important;
    text-align: center;
  }

  .navMenu {
    width: 130% !important;
  }
}
