@use "variables";

.header {
  height: 100px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  background-color: variables.$white;
  padding: 0 30px;
}

.unionImage {
  width: 20px;
  margin-right: 8px;
  object-fit: contain;
}

.lendsqrImage {
  width: 115px;
  object-fit: contain;
}

.usersBody .input-group {
  width: 400px;
}

.header .form-control:focus {
  border-color: #9fe7e6;
  box-shadow: none;
}

.form-control {
  font-size: 14px;
}

.docsText {
  font-size: 16px;
  text-decoration: underline;
  color: variables.$dark-blue;
  margin-right: 50px;
}

.bellIcon {
  color: variables.$dark-blue;
  width: 20px;
  height: 22px;
  margin-right: 33px;
}

.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileText {
  font-size: 16px;
  color: variables.$dark-blue;
  margin-right: 10px;
}

.angleIcon {
  color: variables.$dark-blue;
  margin-right: 33px;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  background-color: transparent;
}

.me-168 {
  margin-right: 168px;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);

  .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }

  .hamburger-middle {
    display: none;
  }

  .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 4px;
  background: variables.$dark-blue;
  transform: rotate(0);
  transition: all 0.3s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.d-noone {
  display: none !important;
}
