.header {
  height: 100px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  padding: 0 30px;
}

.unionImage {
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

.lendsqrImage {
  width: 115px;
  height: 30px;
}

.usersBody .input-group {
  width: 400px;
}

.docsText {
  font-size: 16px;
  text-decoration: underline;
  color: #213f7d;
  margin-right: 50px;
}

.bellIcon {
  color: #213f7d;
  width: 20px;
  height: 22px;
  margin-right: 33px;
}

.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileText {
  font-size: 16px;
  color: #213f7d;
  margin-right: 10px;
}

.angleIcon {
  color: #213f7d;
  margin-right: 33px;
}
