@use "variables";

.header {
  height: 100px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  background-color: variables.$white;
  padding: 0 30px;
}

.unionImage {
  width: 20px;
  margin-right: 8px;
  object-fit: contain;
}

.lendsqrImage {
  width: 115px;
  object-fit: contain;
}

.usersBody .input-group {
  width: 400px;
}

.docsText {
  font-size: 16px;
  text-decoration: underline;
  color: variables.$dark-blue;
  margin-right: 50px;
}

.bellIcon {
  color: variables.$dark-blue;
  width: 20px;
  height: 22px;
  margin-right: 33px;
}

.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileText {
  font-size: 16px;
  color: variables.$dark-blue;
  margin-right: 10px;
}

.angleIcon {
  color: variables.$dark-blue;
  margin-right: 33px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: variables.$dark-blue;
}

.d-none {
  display: none !important;
}