@use "variables";

.form-group {
  .form-control::placeholder {
    color: variables.$dim-grey;
    font-size: 14px;
    opacity: 0.6;
  }

  .input-group .form-control:focus {
    box-shadow: none;
  }

  .form-control:focus,
  .input-group:focus-within {
    color: variables.$dim-grey;
    background-color: variables.$white;
    border-color: #9fe7e6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(57, 205, 204, 0.25);
  }

  .showText {
    color: variables.$green !important;
    font-size: 12px !important;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
  }

  .showText:hover,
  .forgotPassword:hover {
    color: #259493 !important;
  }

  .form-control,
  .input-group-text {
    border-color: rgba(84, 95, 125, 0.15);
    padding: 16px;
    font-size: 14px;
    color: variables.$dim-grey;
    border-width: 2px;
  }

  .input-group {
    border: 2px solid rgba(84, 95, 125, 0.15);
  }
}
