@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Work Sans", serif;
}

// for screens smaller than 7680px
@media (max-width: 768px) {
  body {
    font-size: 80%;
  }
}
