@use "variables";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.usersBody {
  background-color: variables.$light-grey;
}

.usersBody .form-control,
.usersBody .input-group-text,
.usersBody .form-select {
  height: 40px;
  border-width: 1px;
}

.bg-theme {
  background-color: variables.$green;
  margin-left: 0px !important;
}

.content {
  padding: 60px;
  width: calc(100% - 283px);
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.headerText {
  font-size: 24px;
  color: variables.$dim-grey;
  font-weight: 500;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 26px;
  margin: 40px 0;
}

// for screens smaller than 1300px
@media (max-width: 1450px) {
  .usersBody .input-group {
    width: 300px;
  }
}

// for screens smaller than 1200px
@media (max-width: 1200px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }

  .center-grid {
    justify-content: center !important;
    display: grid !important;
    place-items: center;
    grid-gap: 25px;
  }

  .usersBody .lendsqrImage {
    width: 90px;
  }

  .usersBody .unionImage {
    width: 15px;
  }
}

// for screens smaller than 992px
@media (max-width: 992px) {
  .usersBody .input-group {
    width: 200px;
  }

  .d-none .profileImage {
    width: 30px;
    height: 30px;
    margin-right: 0px;
  }
}

// for screens smaller than 768px
@media (max-width: 769px) {
  .content {
    width: 100%;
  }

  .d-med-none {
    display: none !important;
  }

  .d-med-flex {
    display: flex !important;
  }

  .sidebar {
    left: -283px;
    position: fixed;
  }

  .header {
    height: 70px;
  }
}

// for screens smaller than 500px
@media (max-width: 500px) {
  .grid-4 {
    grid-template-columns: 1fr;
  }
}
